<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets List</title>
</head>
<body>
<header>
    <h2>Tickets List</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/books">Books</a> <!-- Link to Books -->
        <a href="/magazines">Magazines</a> <!-- Link to Magazines -->
        <a href="/discMags">DiscMags</a>
        <a href="/tickets">Tickets</a>
        <a href="/cart/view">Cart</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </nav>
</header>

<main>
    <h3>All Tickets</h3>
    <div class="ticket-list">
        <table>
            <thead>
            <tr>
                <th>Text</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.text}">Ticket Text</td>
                <td th:text="${ticket.price}">Price</td>
                <td th:text="${ticket.quantity}">Quantity</td>
                <td th:text="${ticket.description}">Description</td>
                <td>
                    <a th:href="@{/tickets/editTicket/{id}(id=${ticket.id})}">Edit</a>
                    <form th:action="@{/tickets/delete/{id}(id=${ticket.id})}" method="get" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <form th:action="@{/cart/add}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${ticket.id}" />
                        <input type="hidden" name="price" th:value="${ticket.price}" />
                        <input type="number" name="quantity" value="1" min="1" style="width: 50px;" />
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="/tickets/addTicket">Add a New Ticket</a> <!-- Link to add a new ticket -->
</main>

<footer>
    <p>&copy; 2024 Simple E-Commerce. All rights reserved.</p>
</footer>
</body>
</html>
